# Network URLs
SEPOLIA_URL=https://mainnet.infura.io/v3/2200770fbad743329bd3db8fdefc9d36

# Private key for deployment (without 0x prefix)
PRIVATE_KEY=c500d934e1d46966a3f9ade0140b0b8784daebbe32154356be05b4c7d8a9f055

# Etherscan API key for contract verification
ETHERSCAN_API_KEY=4VTJ1K7QNH9DA5VKVXJEJHJ7JRBWXE8798

# Gas reporting
REPORT_GAS=true 